<% include partials/header%>



<div class="container pre-scrollable" id='containerForm'>
  <h1>Respostas</h1>
  <label> <i>Capítulo</i> </label>
  <h4><%=user.forms.capitulo%></h4>
  <hr>
  <label><i>Cidade</i></label>
  <p><%=user.forms.cidade%></p>
  <hr>
  <label> <i>Nome da Loja Patrocinadora</i> </label>
  <p><%=user.forms.loja%></p>
  <hr>
  <label> <i>Dados Para Contato</i> </label>
  <p><%=user.forms.dados%></p>
  <hr>
  <label> <i>Endereço do Capítulo</i> </label>
  <p><%=user.forms.endereco%></p>
  <hr>
  <label> <i>O capítulo usa seu email "@demolay.org.br"?</i> </label>
  <p><%=user.forms.email%></p>
  <hr>
  <label> <i>Página/Perfil do Capítulo no Facebook</i> </label>
  <p><%=user.forms.pagina%></p>
  <hr>
  <label> <i>Os DeMolays costumam acessar o grupo no Facebook do Grande Capítulo e do Supremo Conselho?</i> </label>
  <p><%=user.forms.grupo%></p>
  <hr>
  <label> <i>O Capítulo se reune na sede da(s) Loja(s) Patrocinadora(s)</i> </label>
  <p><%=user.forms.sede%></p>
  <hr>
  <label> <i>Como é a relação do Capítulo com a(s) Loja(s) Patrocinadora(s)</i> </label>
  <p><%=user.forms.relacao%></p>
  <hr>
  <label> <i>A participação do Capítulo na vida da(s) Loja(s) Patrocinadora(s)?</i> </label>
  <p><%=user.forms.participacao%></p>
  <hr>
  <label> <i>O Capítulo possui Estatuto e Regimento Interno?</i> </label>
  <p><%=user.forms.regimento%></p>
  <hr>
  <label> <i>O Capítulo sabe da obrigatoriedade de envio do pedido de homologação para o GCE-RJ?</i> </label>
  <p><%=user.forms.obrigatoriedade%></p>
  <hr>
  <label> <i>Qual a Quantidade média de DeMolays ?</i> </label>
  <p><%=user.forms.quantidade%></p>
  <hr>
  <label> <i>Qual a idade média dos DeMolays Ativos ?</i> </label>
  <p><%=user.forms.idade%></p>
  <hr>
  <label> <i>Quantos membros ativos com menos de 16 anos?</i> </label>
  <p><%=user.forms.menos16%></p>
  <hr>
  <label> <i>Qual a quantidade média de Maçons presentes nas reuniões?</i> </label>
  <p><%=user.forms.maconsp%></p>
  <hr>
  <label> <i>Como o Capítulo avalia seu Conselho Consultivo ?</i> </label>
  <p><%=user.forms.avcons%></p>
  <hr>
  <label> <i>No seu capítulo existe alguém que seja o único que sabe fazer uma função ?</i> </label>
  <p><%=user.forms.unico%></p>
  <hr>
  <label> <i>De 0 a 10 o quão bem funciona o seu Capítulo sem ajuda ou suporte do GCE/outros Capítulos.?</i> </label>
  <p><%=user.forms.ajuda%></p>
  <hr>
  <label> <i>Quais comissões funcionam no Capítulo ?</i> </label>
  <p><%=user.forms.comissao%></p>
  <hr>
  <label> <i>Quando essas Comissões apresentam seus relatórios ao Capítulo?</i> </label>
  <p><%=user.forms.relatorio%></p>
  <hr>
  <label> <i>O Capítulo possui algum modelo de relatório de Comissão?</i> </label>
  <p><%=user.forms.modelo%></p>
  <hr>
  <label> <i>Qual a média de reuniões que o Capítulo tem por mês?</i> </label>
  <p><%=user.forms.reunioes%></p>
  <hr>
  <label> <i>Quanto tempo, em média, o Capítulo gasta no processo de um candidato à iniciação?</i> </label>
  <p><%=user.forms.tempoinic%></p>
  <hr>
  <label> <i>Quantas iniciações são feitas por semestre?</i> </label>
  <p><%=user.forms.inics%></p>
  <hr>
  <label> <i>Média de iniciados por iniciação</i> </label>
  <p><%=user.forms.iniciados%></p>
  <hr>
  <label> <i>Quantos eventos beneficentes o Capítulo costuma realizar por ano?</i> </label>
  <p><%=user.forms.beneficentes%></p>
  <hr>
  <label> <i>São realizadas instruções para os Graus Iniciático? </i> </label>
  <p><%=user.forms.instrucoesinic%></p>
  <hr>
  <label> <i>O Capítulo possui material próprio para essas instruções?</i> </label>
  <p><%=user.forms.mat_inst_inic%></p>
  <hr>
  <label> <i>São realizadas instruções para os Graus DeMolay? </i> </label>
  <p><%=user.forms.instrucoesdm%></p>
  <hr>
  <label> <i>O Capítulo possui material próprio para essas instruções?</i> </label>
  <p><%=user.forms.mat_inst_DM%></p>
  <hr>
  <label> <i>Existe o costume de praticar ritualística?</i> </label>
  <p><%=user.forms.pratrit%></p>
  <hr>
  <label> <i>Avaliação da ritualística do Capítulo?</i> </label>
  <p><%=user.forms.avrit%></p>
  <hr>
  <label> <i>Como você avalia as Instruções ritualísticas? </i> </label>
  <p><%=user.forms.avinst%></p>
  <hr>
  <label> <i>O Capítulo possui livro de atas e de presença?</i> </label>
  <p><%=user.forms.livros%></p>
  <hr>
  <label> <i>Os arquivos do Capítulo são apenas físicos ou digitais também?</i> </label>
  <p><%=user.forms.arquivos%></p>
  <hr>
  <label> <i>O Capítulo realiza prestação de contas, de forma pública para os irmãos?</i> </label>
  <p><%=user.forms.prestacao%></p>
  <hr>
  <label> <i>O Capítulo possui mensalidade?</i> </label>
  <p><%=user.forms.mensalidade%></p>
  <hr>
  <label> <i>Seu Capítulo conhece a Ordem da Távola dos Escudeiros?</i> </label>
  <p><%=user.forms.conhecetavola%></p>
  <hr>
  <label> <i>Tem interesse em conhecer mais da Távola dos Escudeiros?</i> </label>
  <p><%=user.forms.interessetavola%></p>
  <hr>
  <label> <i>Tem interesse em Patrocinar uma Távola dos Escudeiros?</i> </label>
  <p><%=user.forms.patrocinartavola%></p>
  <hr>
  <label> <i>Qual Convento seu Capítulo é filiado?</i> </label>
  <p><%=user.forms.conventos%></p>
  <hr>
  <label> <i>Seu Capítulo possui Cavaleiros ativos e freqüentes no Convento ao qual está circunscrito?</i> </label>
  <p><%=user.forms.cavativos%></p>
  <hr>
  <label> <i>Existem muitos DeMolays com requisitos para serem Cavaleiros, que desejam ser e não são?</i> </label>
  <p><%=user.forms.cavreq%></p>
  <hr>
  <label> <i>Caso a resposta da pergunta anterior seja afirmativa, qual o motivo predominante?</i> </label>
  <p><%=user.forms.motiv_nao_cav%></p>
  <hr>
  <label> <i>Os Cavaleiros que pertencem ao seu Capítulo incentivam os DeMolays a participarem da Ordem da Cavalaria, levam fichas para indicá-los e explicam sobre ela?</i> </label>
  <p><%=user.forms.cavincen%></p>
  <hr>
  <label> <i>Como é o relacionamento entre o Capítulo e o Convento?</i> </label>
  <p><%=user.forms.relacao_conv%></p>
  <hr>
  <label> <i>O ICC já visitou o Capítulo de vocês?</i> </label>
  <p><%=user.forms.icc_visit%></p>
  <hr>
  <label> <i>Origem do caixa do Capítulo?</i> </label>
  <p><%=user.forms.caixa_cap%></p>
  <hr>
  <label> <i>Existem problemas para receber CIDs?</i> </label>
  <p><%=user.forms.rec_cid%></p>
  <hr>
  <label> <i>Como você avalia a evasão dos membros do Capítulo: </i> </label>
  <p><%=user.forms.evasao%></p>
  <hr>
  <label> <i>Qual o motivo do afastamento?</i> </label>
  <p><%=user.forms.motiv_afast%></p>
  <hr>
  <label> <i>Com frequência acontecem palestras, dinâmicas ou treinamento sobre liderança no Capítulo?</i> </label>
  <p><%=user.forms.atividades%></p>
  <hr>
  <label> <i>Quais temas chamam a atenção dos membros do Capítulo?</i> </label>
  <p><%=user.forms.temas%></p>
  <hr>
  <label> <i>É interesse do Capítulo participar de treinamentos?</i> </label>
  <p><%=user.forms.int_treinamentos%></p>
  <hr>
  <label> <i>Nesse treinamento: Quais áreas devemos enfatizar?</i> </label>
  <p><%=user.forms.area_treinamentos%></p>
  <hr>
  <label> <i>Como pode ser avaliada a habilidade de gestão do Capítulo?</i> </label>
  <p><%=user.forms.habil_gestao%></p>
  <hr>
  <label> <i>Quais áreas vocês mais precisariam melhorar?</i> </label>
  <p><%=user.forms.areas_melhorar%></p>
  <hr>
  <label> <i>Como as lideranças juvenis e adultas da Ordem DeMolay podem ajudar o Capítulo?</i> </label>
  <p><%=user.forms.como_ajudar%></p>
</div>


<% include partials/footer%>
